// Your styles go here
/* import declarations */
// Override theme colors in Bootstrap to the values needed in the site
/*Variables*/
$primary: #ccd5ae;
$secondary: #e9edc9;
$success: #d4a373;
$info: #ccd5ae;
$light: #fefae0;
@import "node_modules/bootstrap/scss/bootstrap";

/* overriding Bootstrap elements to fit design */
#navbarNav {
  justify-content: space-around;
}

/* elements not linked with Bootstrap*/
nav {
  color: $light;
}
main {
  padding-right: 30px;
  padding-left: 30px;
}
.heroImageContainer {
  max-width: 100%;
  height: 150px;
  background-color: beige;
}

/* Tablet */
@include media-breakpoint-up(md) {
  .heroImageContainer {
    height: 200px;
  }
}
/* Desktop */
@include media-breakpoint-up(lg) {
  .heroImageContainer {
    height: 300px;
  }
}
